<nav class="navbar navbar-dark" style="background-color: rgb(224, 224, 224); font-family: MaplestoryB;">
	<div class="container-fluid">
		<a class="navbar-brand" href="/" style="color: black; font-size: 15px;">Rebooter.KR</a>
		<div class="me-2">
			<a class="navbar-brand" style="color: black; font-size: 15px;" href="/register"><i class="fa-solid fa-id-card"></i> 회원가입</a>
			<a class="navbar-brand" style="color: black; font-size: 15px;" href="/login"><i class="fa-solid fa-right-from-bracket"></i> 로그인</a>
			
			<a class="navbar-brand" style="color: black; font-size: 15px;" href="/logout" hidden><i class="fa-solid fa-right-from-bracket"></i> 로그아웃</a>
			<a class="navbar-brand" style="color: black; font-size: 15px;" hidden><i class="fa-solid fa-user fa-lg"></i> username</a>
		</div>
		
	</div>
</nav>